@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Department>

@if (ViewBag.Message != null)
{
<div class="alert alert-dark" role="alert">
    @ViewBag.Message
</div>
}

<div class="container">

    <a class="btn btn-primary" asp-controller="Admin" asp-action="DepartmentForm">Créer un service</a>

    <table class="table mt-2">
        <thead>
            <tr>
                <th scope="col">Id service</th>
                <th scope="col">Nom</th>
                <th scope="col">Editer</th>
                <th scope="col">Supprimer</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Department d in Model)
            {
                <tr>
                    <td>@d.DepartmentId</td>
                    <td>@d.DepartmentName</td>
                    <td><a asp-area="" asp-controller="Admin" asp-action="DepartmentForm" asp-route-id="@d.DepartmentId">Edit</a></td>
                    <td><a asp-area="" asp-controller="Admin" asp-action="DepartmentDelete" asp-route-id="@d.DepartmentId">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>